alembic==1.10.3
ansi2html==1.8.0
asttokens==2.2.1
attrs==22.2.0
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.1.0
blinker==1.5
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
coverage==7.2.2
dash==2.11.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
-e git+https://github.com/codeshow/curso-flask@da08bb9cd96cccf495e2e8f6a52159171be48ff6#egg=delivery&subdirectory=delivery
dynaconf==3.1.12
-e git+https://github.com/Eliezerdomiciano/tcc.git@f9a6b4839be428f8f78bb635e1ab8d077864339b#egg=estoque
exceptiongroup==1.1.1
execnet==1.9.0
executing==1.2.0
flake8==6.0.0
Flask==2.2.3
Flask-Admin==1.6.1
Flask-DebugToolbar==0.13.1
Flask-Migrate==4.0.4
flask-shell-ipython==0.4.1
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.2.1
graphviz==0.20.1
greenlet==2.0.2
html5lib==1.1
idna==3.4
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.5.7
numpy==1.26.0
packaging==23.0
pandas==2.1.1
parso==0.8.3
pathspec==0.11.0
pickleshare==0.7.5
platformdirs==3.1.0
playwright==1.38.0
plotly==5.15.0
pluggy==1.0.0
prompt-toolkit==3.0.38
pure-eval==0.2.2
pycodestyle==2.10.0
pyee==9.0.4
pyflakes==3.0.1
Pygments==2.14.0
pytest==7.2.2
pytest-cov==4.0.0
pytest-flask==1.2.0
pytest-xdist==3.2.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
retrying==1.3.4
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.9
stack-data==0.6.2
tenacity==8.2.2
tomli==2.0.1
traitlets==5.9.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.4
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
WTForms==3.0.1
