<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/cadastrar.css">
  <link rel="stylesheet" href="../static/css/button.css">
  <link rel="stylesheet" href="../static/css/cadastrar_equip.css">
  <link rel="stylesheet" href="../static/css/principal.css">
  <title>sign-up equipament</title>
</head>
<body>
<div class="main-sign-up">
    <div class="left-sign-up">
        <h1>Bem-vindo<br> a Página de Cadastro <br> de Produtos</h1>
        <img src="../static/img/svg/sign-up.svg" alt="Estoque" class="left-sign-up-img">
    </div>
    <div class="right-sign-up">
        <div class="card-sign-up">
          <h1>Cadastro de Produtos</h1>
          
                <div class="textfield">
                    <label for="qtd">Quantidade</label>
                    <input id="qtd" type="text" name="qtd" placeholder="Quantidade">
                </div>
                <div class="textfield">
                    <label for="preco_un">Preço Unitario</label>
                    <input id="preco_un" type="text" name="preco_un" placeholder="Preço Unitario">
                </div>
                <div class="textfield">
                    <label for="fornecedor">Fornecedor</label>
                    <input id="fornecedor" type="text" name="fornecedor" placeholder="Fornecedor">
                </div>
                <div class="textfield">
                    <label for="modelo">Modelo</label>
                    <input id="modelo" type="text" name="modelo" placeholder="Modelo">
                </div>
                <button class="btn-sign-up" id="cadastrar">Cadastrar Produtos</button>
                <div class="back-home">
                    <a href="{{url_for('home')}}">
                        <i class="fas fa-home"></i>
                    </a>
                 </div>
        </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../static/js/cadastrar.js"></script>
</body>
</html>