{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html'%}
<div class="main--content">

    <div class="header--wrapper">
        <div class="header--title">
            <span>Quarto</span>
            <h2>Dashboard</h2>
        </div>
        <div class="user--info">
        <img src="../static/img/minha.jpg" alt="">
        </div>
    </div>
<div class="tabular--wrapper">
    <h3 class="main--title">Histórico de Buscas <br> de Produtos</h3>
    <div class="table-container">
        <table id="historico-table">
            <thead>
                <tr>
                    <th>Preço Un.</th>
                    <th>Fornecedor</th>
                    <th>Nome do Produto</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody id="historico-body">
                {% for item in historico_itens %}
                <tr>
                    <td>R${{ item[1] }},00</td> <!-- preço -->
                    <td>{{ item[2] }}</td> <!-- fornecedor -->
                    <td>{{ item[3] }}</td> <!-- nome_produto -->
                    <td><a href="{{ item[4] }}" target="_blank" class="link-a">{{ item[4] }}</a></td> <!-- link -->

                </tr>
                {% endfor %}
            </tbody>

            </tbody>
        </table>
{% endblock %}