{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}
<div class="main-tcc">
    
    <div class="left-tcc">
        <h1>TCC Estoque Online <br>Curso: Eng. da Computação </h1>
        <h2>Feito por Eliezer Domiciano!!!</h2>
        <img src="../static/img/svg/tcc.svg" alt="Estoque" class="left-tcc-img">
    </div>
    <div class="right-tcc">
        <div class="card-tcc">
          <h1>Introdução do TCC</h1>
          <hr/>
            <div class="textfield">
                <h2>
                    <p>
                        Este presente Trabalho, visa apresentar
                    uma solução de problema enfrentada por 
                    uma loja de estoque fisico que trabalha com 
                    manutenção de equipamentos "Eletrônicos", onde a mesma
                    enfrenta problemas com quantidade de itens no estoque
                    não sabendo de fato oque tem no estoque até o momento
                    de efetuar uma manutenção em um equipamento.
                    </p>
                    <br>
                    <p>
                        Este **TRABALHO DE CONCLÚSÃO DE CURSO, visa
                        facilitar e auxiliar no dia-a-dia desta loja
                        onde o proprietario possa com alguns processos de automação 
                        efetuar a compra e de produtos que estão com estoque minimo,
                        sem que ele necesseti efetuar essa busca.
                    </p>
                    

                </h2>
            </div>
        </div>
    </div>
  </div>

{% endblock %}