<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="stylesheet" href="../static/css/button.css">
</head>
<body>
  <div class="main-login">
    <div class="left-login">
        <h1>Faça login <br> E entre na pagina de Estoque</h1>
        <img src="../static/img/svg/estoque.svg" alt="Estoque" class="left-login-img">
    </div>
    <div class="right-login">
        <div class="card-login">
          <h1>LOGIN</h1>
            <div class="textfield">
                <label for="email">E-mail</label>
                <input id="email" type="text" name="email" placeholder="Email@.com">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input id="senha" type="password" name="senha" placeholder="Senha" required>
            </div>
            <button class="btn-login" id="login-btn">Login</button>
            <h2>Não possui Cadastro!!!</h2>
            <div class="go-sign-up">
              <a href="{{url_for('cadastro')}}">Cadastre-se Aqui!!</a>
            </div>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../static/js/login.js"></script>
</body>
</html>

