{% extends 'base.html' %}

{% block content %}
    
    {% include 'sidebar.html'%}
    <div class="main--content">
        <div class="header--wrapper">
            <div class="header--title">
                <span>Equipamentos dos Clientes</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user--info">
            <img src="../static/img/minha.jpg" alt="">
            
            </div>
        </div>
        
        <div class="tabular--wrapper">
            <h3 class="main--title">Equipamentos em Análise</h3>
            <div class="table-container">
                <table>
                    <thead>
                    <tr>
                        <th>Qtd. Estoque</th>
                        <th>Preço Un.</th>
                        <th>Fornecedor</th>
                        <th>Prazo de Entrega</th>
                        <th>Frete</th>
                        <th>Ordem de Serviço</th>
                        <th class="Verificar">Verificar</th>
                    </tr>
                    <dialog>
                    <tbody>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>10pç</td>
                            <td>R$1.000,00</td>
                            <td>Amazon</td>
                            <td>30 dias</td>
                            <td>R$12,00</td>
                            <td>OS10000</td>
                            <td>
                                <a class="btn btn-sm" id="btn-comprar">Verificar</a>
                                
                            </td>
                        </tr>
                    </tbody>
                    
                </thead>
                </table>
            </div>
        </div>
    </div>

{% endblock %}