<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="{{url_for('home')}}">
                <i class="fas fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('stock')}}">
                <i class="fas fa-briefcase"></i>
                <span>Estoque</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('receipt')}}">
                <i class="fas fa-receipt"></i>
                <span>Recebimento</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('history')}}">
                <i class="fas fa-history"></i>
                <span>Histórico</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('about')}}">
                <i class="fas fa-question-circle"></i>
                <span>TCC</span>
            </a>
        </li>
        <li class="logout">
            <a href="{{url_for('index')}}">
                <i class="fas fa-sign-out-alt"></i>
                <span>Sair</span>
            </a>
        </li>
        
    </ul>
</div>
<div class="dialog-div">
  <dialog id="modal">
      <table class="table-container">
          <thead>
              <tr>
                 <th id="nome">Nome Produto</th>
                 <th id="preco">Preço Un.</th>
                 <th id="fornecedor">Fornecedor</th>
                 <th>Ação</th>
              </tr>
          </thead>
          <tbody class="tbody-modal">
          </tbody>
          
      </table>
      
  </dialog>
  <dialog id="modal-comprar">
    <div id="alerta" class="alerta" style="display: none;">
        A quantidade deve ser maior que 0.
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    <h3>Comprar Produto</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form id="comprar-form">
                        <label for="quantidade">Quantidade:</label>
                        <input type="number" id="quantidade" min="0" value="0">
                        <h2>Valor Total: R$<span id="preco_prod">0.00</span></h2>
                        <button id="btn-confirmar-compra">Confirmar Compra</button>
                    </form>
                </td>
            </tr>
    </tbody>
    </table>
</dialog>
</div>
