<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="{{url_for('home')}}">
                <i class="fas fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('stock')}}">
                <i class="fas fa-briefcase"></i>
                <span>Estoque</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <span>Manutenção</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('index')}}">
                <i class="fas fa-question-circle"></i>
                <span>TCC</span>
            </a>
        </li>
        <li class="logout">
            <a href="#">
                <i class="fas fa-sign-out-alt"></i>
                <span>Sair</span>
            </a>
        </li>
    </ul>
</div>
<div class="dialog-div">
  <dialog id="modal">
      <table class="table-container">
          <thead>
              <tr>
                 <th>Nome Produto</th>
                 <th>Preço Un.</th>
                 <th>Fornecedor</th>
                 <th>Prazo</th>
                 <th>Ação</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>SmartPhone Poco F5 256Gb</td>
                  <td>R$2349,50</td>
                  <td>Google Shopping</td>
                  <td>30 dias</td>
                  <td>
                      <button class="btn btn-sm" id="btn-comprar">Comprar</button>
                      <button class="btn btn-sm" id="btn-close">Cancelar</button>
                  </td>
              </tr>
          </tbody>
          
     
      </table>
      
  </dialog>
</div>
